<template name="manageColumnsForm">
  <section class="dynamic-table-manage-fields-edit">
    <div class="dynamic-table-manage-fields-edit-row">
      <label>
        Label
        <input type="text" class="dynamic-table-manage-fields-edit-label" value="{{editableField.label}}" />
      </label>
    </div>
    {{#unless isDynamicFieldForm}}
    <div class="dynamic-table-manage-fields-edit-row">
      <label>
        Group
        {{#if select2}}
          <select type="text" class="dynamic-table-manage-fields-edit-group"></select>
        {{else}}
          <input type="text" class="dynamic-table-manage-fields-edit-group" value="{{editableField.groupName}}" />
        {{/if}}
      </label>
    </div>
    <div class="dynamic-table-manage-fields-edit-row">
      <label>
        Type
        <select type="text" class="dynamic-table-manage-fields-edit-type">
          {{#each type in types}}
            <option value="{{type.value}}" {{selectedIfEquals type.value editableField.type}}>{{type.label}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    {{#if isFormula}}
      {{> dynamicTableFlexFormulaSpecifier (configContext selectedType this)}}
    {{/if}}
    {{> dynamicTableFlexPermissionSpecifier editableField=editableField}}
    <div class="dynamic-table-manage-fields-edit-row">
      <label class="short">Allow multiple values? <input type="checkbox" class="dynamic-table-manage-fields-edit-isArray" {{checkedIfTrue editableField.isArray}} /></label>
    </div>
    <div class="dynamic-table-manage-fields-edit-row">
      <label class="short">Track values? <input type="checkbox" class="dynamic-table-manage-fields-edit-trackOptions" {{checkedIfTrue editableField.trackOptions}} /></label>
    </div>
    <div class="dynamic-table-manage-fields-edit-row">
      <label class="short">Searchable? <input type="checkbox" class="dynamic-table-manage-fields-edit-searchable" {{checkedIfTrue editableField.indexedNumber}} /></label>
    </div>
    <div class="dynamic-table-manage-fields-edit-row">
      <label class="short">Is Formula? <input type="checkbox" class="dynamic-table-manage-fields-edit-isFormula" {{checkedIfTrue isFormula}} /></label>
    </div>
    <div class="dynamic-table-manage-fields-edit-row">
      <label class="short">Is Locked? <input type="checkbox" class="dynamic-table-manage-fields-edit-isLocked" {{checkedIfTrue editableField.isLocked}} /></label>
    </div>
    {{/unless}}
  </section>
</template>
