.dynamic-table-filter-selector {
  display: inline-flex;
  background-color: #fff;
  z-index: 9999;
  width: 100%;
}

.input-dynamic-table-column {
  margin: auto;
  margin-right: 20px;
  width: 20%;
}

.btn-remove {
  padding-left: 20px;
  padding-right: 20px; 
  border: none;
  outline: 0;
  width: 2%;
  background: none;
}