<template name="bulkEditModal">
  <div class="bulkEditModal">
    <div
      class="modal fade in {{ class }} bulk-edit-modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="false"
      style="display: none;"
    >
      <div class="modal-dialog-new {{ class }}">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ title }}</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="form-group" style="clear: both;">
                {{#dismissable class="alert alert-blocks"}}
                  Warning: Editing fields in bulk will overwrite all existing values in the selected {{ set }}.
                {{/dismissable}}
                {{#each field in displayFields}}
                <label class="col-md-2 control-label">{{ field.title }}:</label>
                <div class="col-md-10 no-padding" style="padding-bottom: 1px;">
                  {{#with field}}
                  {{> Template.dynamic template=templateViewName data=editTemplateContext }}
                  {{/with}}
                </div>
                {{/each}}
              </div>
              {{#if hasUnselectedEditableColumns}}
                <div class="form-group" style="clear: both;">
                {{#if showAddEditableColumns}}
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <select class="add-editable-column-id" style="width: 100%">
                          {{#each unselectedEditableColumn in unselectedEditableColumns}}
                            <option value="{{unselectedEditableColumn.data}}">{{unselectedEditableColumn.title}}</option>
                          {{/each}}
                        </select>
                    </div>
                    <div class="col-md-3">
                      <button class="pull-right btn btn-default add-editable-column"><i class="fa fa-plus"></i> Add</button>
                    </div>
                {{else}}
                    <div class="col-md-12">
                      <div class="pull-right">
                        <a class="show-add-editable-column" href="#"><i class="fa fa-plus"></i> New Field</a>
                      </div>
                    </div>
                {{/if}}
                </div>
              {{/if}}
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-inverse updateBtn">Submit</button>
            <button type="button" class="btn btn-default cancelBtn">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
