<template name="bulkEditModal">
  <div class="bulkEditModal">
    <div
      class="modal fade in {{ class }}"
      id="bulk-edit-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-{{ id }}"
      aria-hidden="false"
      style="display: none;"
    >
      <div class="modal-dialog-new {{ class }}">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-{{ id }}">{{ title }}</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="form-group" style="clear: both;">
                {{#dismissable class="alert alert-blocks"}}
                  Warning: Editing fields in bulk will overwrite all existing values in the selected {{ set }}.
                {{/dismissable}}
                {{#each field in fields}}
                <label class="col-md-2 control-label">{{ field.title }}:</label>
                <div class="col-md-10 no-padding" style="padding-bottom: 1px;">
                  <input id="{{ field.data }}-input" class="form-control" type="text" />
                </div>
                {{/each}}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-inverse" id="update">Submit</button>
            <button type="button" class="btn btn-default" id="cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
