div.dynamic-table-manage-group-fields {
  width: 350px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  max-height: 200px;
  overflow-y: auto;
}
div.dynamic-table-manage-group-fields>div {
  clear: both;
  width: 100%;
}
div.dynamic-table-manage-group-fields select {
  width: 75%;
}
div.dynamic-table-manage-group-fields label {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  line-height: 25px;
}

div.dynamic-table-manage-group-fields .add-group {
  color: #0088cc;
  cursor: pointer;
}
