<template name="dynamicTableManageGroupFieldsModal">
  <div class="dynamic-table-manage-group-fields">
    <div>
      <label for="dynamic-table-manage-group-label">
        Group by
      </label>
      <select id="dynamic-table-manage-group-label">
        <option value="">Select a Column</option>
        {{#each group in groups}}
          <optgroup label="{{group.title}}">
            {{#each field in group.columns}}
              <option value="{{fieldId field}}" {{selected field}}>{{label field}}</option>
            {{/each}}
          </optgroup>
        {{/each}}
        {{#each field in ungroupedColumns}}
          <option value="{{fieldId field}}" {{selected field}}>{{label field}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</template>
