.dynamic-table-header {
  background-color: #eee;
  color: #222;
  padding: 10px;
}

.dynamic-table-panel {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.dynamic-table-content {
  padding:15px;
  display: none;
}
