.dynamic-table-header {
  background-color: #eee;
  color: #222;
  padding: 10px;
}

.dynamic-table-panel {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.dynamic-table-content {
  padding:15px;
  display: none;
}

.dynamic-table-manage-controller {
  cursor: pointer;
  margin-right: 20px;
  vertical-align: middle;
  line-height: 20px;
}
.dynamic-table-manage-controller.active {
  color: #3599cc;
}
