.manage-fields {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  color: #000;
}
.manage-fields:hover {
  color: #000;
}
.dynamic-table-processing {
  position: absolute;
  top: 49%;
  left: 0px;
  right: 0px;
  opacity: 0.8;
  background-color: #ccc;
  text-align: center;
}

.dynamic-table-loading-group {
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
