.dynamic-table-cell-wrapper {
  min-height: 30px;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 10px;
}
.dynamic-table-enable-editing {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
}

.dynamic-table-cell-wrapper:hover .dynamic-table-enable-editing {
    display: block;
}
