<template name="dynamicTableFilterModal">
  <div class="dynamic-table-filter">
    {{#if field.label}}
      <header class="dynamic-table-filter-header">
        {{#if curEditing}}Edit{{else}}Filter by{{/if}}: <b>{{field.label}}</b>
        {{#if field.edit}}
          {{#unless curEditing}}
            <span class="dynamic-table-filter-edit-btn">
              <i class="fa fa-pencil"></i> Edit
            </span>
          {{/unless}}
        {{/if}}
      </header>
    {{/if}}
    {{#if isLoading}}
      <div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: #fff; opacity: 0.5;">

      </div>
    {{/if}}
    {{#if curEditing}}
      {{> manageColumnsForm groupNames=groupNames editableField=curEditableField manageFieldsEditContext=manageFieldsEditContext}}
    {{else}}
      {{#if sort.enabled}}
        <section class="dynamic-table-filter-sort">
          <label>Sort</label>
          <div>
            {{#if isNumericOrDate}}
              <button class="btn btn-dynamic-table-sort {{#if checkedIfSortDirection 1}}btn-dynamic-table-selected{{/if}}" data-direction="1">0-9</button>
              <button class="btn btn-dynamic-table-sort {{#if checkedIfSortDirection -1}}btn-dynamic-table-selected{{/if}}" data-direction="-1">9-0</button>
            {{/if}}
            {{#if isStringOrCustom}}
              <button class="btn btn-dynamic-table-sort {{#if checkedIfSortDirection 1}}btn-dynamic-table-selected{{/if}}" data-direction="1">A-Z</button>
              <button class="btn btn-dynamic-table-sort {{#if checkedIfSortDirection -1}}btn-dynamic-table-selected{{/if}}" data-direction="-1">Z-A</button>
            {{/if}}
            {{#if isBoolean}}
              <button class="btn btn-dynamic-table-sort {{#if checkedIfSortDirection 1}}btn-dynamic-table-selected{{/if}}" data-direction="1">True</button>
              <button class="btn btn-dynamic-table-sort {{#if checkedIfSortDirection -1}}btn-dynamic-table-selected{{/if}}" data-direction="-1">False</button>
            {{/if}}
          </div>
          <hr>
        </section>
      {{/if}}
      {{#if filter.enabled}}
        {{#if hasSelectedOptions}}
          <section class="dynamic-table-filter-selected">
            {{#each option in curSelectedOptions}}
              <label data-value="{{option.value}}" class="label-dynamic-table-selected">
                {{option.label}}
                {{#unless curIsParentFilter}}<i class="fa fa-times"></i>{{/unless}}
              </label>
            {{/each}}
          </section>
        {{/if}}
        {{#if searchEnabled}}
        <section class="dynamic-table-filter-search" style="{{#unless shouldShowControl}}display: none{{/unless}}">
            {{#if isStringOrCustom}}
              <input {{isControlDisabledForParent}} type="text" class="input-dynamic-table-search" placeholder="{{#if hasOptions}}Search values...{{else}}Search...{{/if}}" value="{{filter.search.value}}" />
              {{#if filter.operator.enabled}}
                {{#unless curIsParentFilter}}
                  <i class="fa fa-cog"></i>
                {{/unless}}
              {{/if}}
            {{/if}}
            {{#if isNumber}}
              <input {{isControlDisabledForParent}} type="number" class="input-dynamic-table-search" placeholder="Value" value="{{searchValue}}" />
              {{#if filter.operator.enabled}}
                {{#unless curIsParentFilter}}
                  <i class="fa fa-cog"></i>
                {{/unless}}
              {{/if}}
            {{/if}}
            {{#if isDate}}
              <!-- <label>Date</label> -->
              <input {{isControlDisabledForParent}} type="date" class="input-dynamic-table-search" placeholder="Date..." value="{{dateValue}}" />
              {{#if filter.operator.enabled}}
                {{#unless curIsParentFilter}}
                  <i class="fa fa-cog"></i>
                {{/unless}}
              {{/if}}
            {{/if}}
            {{#if isTime}}
              <label>Time</label>
              <input {{isControlDisabledForParent}} type="number" class="input-dynamic-table-search" placeholder="Min" value="{{minuteValue}}" style="width: 49%;" />
              <input {{isControlDisabledForParent}} type="number" class="input-dynamic-table-search" placeholder="Sec" value="{{secondValue}}" style="width: 49%;" />
            {{/if}}
            {{#if isBoolean}}
              <select {{isControlDisabledForParent}} class="input-dynamic-table-search">
                <option value="">Choose True/False</option>
                <option value="true" {{isBooleanSelected true}}>True</option>
                <option value="false" {{isBooleanSelected false}}>False</option>
              </select>
            {{/if}}
          </section>
        {{/if}}
        {{#unless isBoolean}}
          {{#if filter.operator.enabled}}
            <section class="dynamic-table-filter-operator" style="{{#unless curShowOperators}}display: none;{{/unless}}">
              <label>Where column</label>
              <select {{isControlDisabledForParent}} class="select-dynamic-table-operator">
                {{#if isDate}}
                  <option value="$between" {{checkedIfWithValue}}>Equals</option>
                  <option value="$gte">Greater</option>
                  <option value="$lte">Less Than</option>
                {{else}}
                  {{#if isNumericOrDateAndNoOptions}}
                    <option value="$between" {{checkedIfWithValue}}>Equals</option>
                    <option value="$gte">Greater</option>
                    <option value="$lte">Less Than</option>
                  {{else}}
                    <option value="$in" {{checkedIfWithValue}}>contains (OR)</option>
                    {{#if hasOptions}}
                      {{#if curIsArrayField}}
                        <option value="$all" {{checkedIfWithAllValue}}>contains (ALL)</option>
                      {{/if}}
                    {{/if}}
                    <option value="$nin" {{checkedIfWithoutValue}}>does not contain (OR)</option>
                    {{#if hasOptions}}
                      {{#if curIsArrayField}}
                        <option value="$not$all" {{checkedIfWithoutAllValue}}>does not contain (ALL)</option>
                      {{/if}}
                    {{/if}}
                  {{/if}}
                {{/if}}
                <option value="$exists" {{checkedIfNotEmptyValue}}>not empty</option>
                <option value="$not$exists" {{checkedIfEmptyValue}}>empty</option>
              </select>
            </section>
          {{/if}}
        {{/unless}}
        {{#if hasOptions}}
          <section class="dynamic-table-filter-options">
            <label>Values{{#if curSearching}}...{{/if}}</label>
            {{#unless getOptions.length}}
              Start typing to see your options
            {{/unless}}
            <div class="inner">
              {{#each option in getOptions}}
                <label><input class="input-dynamic-table-option" type="checkbox" value="{{option.value}}" {{checkedIfSelected option.value}} /> <span class="dynamic-table-option-value">{{option.label}}</span></label>
              {{/each}}
            </div>
          </section>
        {{/if}}
        {{#if curIsParentFilter}}
          <div class="dynamic-table-filter-parent-filter-message">
            <p>Filtering is disabled for this column because you have applied filters to a parent of this table.</p>
            <span>
              <button class="btn-link input-dynamic-table-filters-modal">Click here</button> 
              to adjust the filters to the <b>{{curParentFilterLabel}}</b> group level.
            </span>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
    {{#if hasFooter}}
      <footer class="dynamic-table-filter-footer" style="{{#if curEditing}}text-align: right; padding: 6px;{{/if}}">
        {{#if curEditing}}
          <button class="btn btn-default btn-dynamic-table-cancel">Cancel</button>
          <button class="btn btn-success btn-dynamic-table-save">Save</button>
        {{else}}
          {{#unless field.required}}
            <span class="btn-dynamic-table-remove"><i class="fa fa-eye-slash"></i> Hide Column</span>
          {{/unless}}
          {{#if filter.enabled}}
            {{#unless curIsParentFilter}}
              <span class="btn-dynamic-table-clear"><i class="fa fa-times"></i> Clear</span>
            {{/unless}}
          {{/if}}
        {{/if}}
      </footer>
    {{/if}}
  </div>
</template>
