<template name="dynamicTableFilterModal">
  <div class="dynamic-table-filter">
    {{#if loading}}
      <div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: #fff; opacity: 0.5;">

      </div>
    {{/if}}
    {{#if sort.enabled}}
      <section class="dynamic-table-filter-sort">
        <label>Sort</label>
        {{#if isNumericOrDate}}
          <button class="btn btn-dynamic-table-sort {{#if sortDirection 1}}btn-dynamic-table-selected{{/if}}" data-direction="1">0-9</button>
          <button class="btn btn-dynamic-table-sort {{#if sortDirection -1}}btn-dynamic-table-selected{{/if}}" data-direction="-1">9-0</button>
        {{/if}}
        {{#if isString}}
          <button class="btn btn-dynamic-table-sort {{#if sortDirection 1}}btn-dynamic-table-selected{{/if}}" data-direction="1">A-Z</button>
          <button class="btn btn-dynamic-table-sort {{#if sortDirection -1}}btn-dynamic-table-selected{{/if}}" data-direction="-1">Z-A</button>
        {{/if}}
      </section>
    {{/if}}
    {{#if filter.enabled}}
      {{#if filter.operator.enabled}}
        <section class="dynamic-table-filter-operator">
          <label>Display</label>
          {{#if isNumericOrDate}}
            <label><input type="radio" class="input-dynamic-table-operator" name="dynamic-table-operator" value="$between" {{checkedIfWithValue}} /> With Value</label>
            <label><input type="radio" class="input-dynamic-table-operator" name="dynamic-table-operator" value="$gte" {{checkedIfGteValue}} /> Greater than Value</label>
            <label><input type="radio" class="input-dynamic-table-operator" name="dynamic-table-operator" value="$lte" {{checkedIfLteValue}} /> Less than Value</label>
          {{else}}
            <label><input type="radio" class="input-dynamic-table-operator" name="dynamic-table-operator" value="$in" {{checkedIfWithValue}} /> With Value</label>
            <label><input type="radio" class="input-dynamic-table-operator" name="dynamic-table-operator" value="$nin" {{checkedIfWithoutValue}} /> Without Value</label>
          {{/if}}
        </section>
      {{/if}}
      {{#if filter.operator.enabled}}
        {{#if hasOptions}}
          {{#if isArrayField}}
            <button class="btn btn-dynamic-table-operator {{#if isAny}}btn-dynamic-table-selected{{/if}}" data-modifier="$any">Any</button>
            <button class="btn btn-dynamic-table-operator {{#if isAll}}btn-dynamic-table-selected{{/if}}" data-modifier="$all">All</button>
          {{/if}}
        {{/if}}
      {{/if}}
      {{#if filter.search.enabled}}
        <section class="dynamic-table-filter-search">
          {{#if isString}}
            <label>{{#if hasOptions}}Filter{{else}}Search{{/if}}</label>
            <input type="search" class="input-dynamic-table-search" placeholder="Search..." value="{{filter.search.value}}" />
          {{/if}}
          {{#if isNumber}}
            <input type="number" class="input-dynamic-table-search" placeholder="Value" value="{{numberValue}}" />
          {{/if}}
          {{#if isDate}}
            <label>Date</label>
            <input type="date" class="input-dynamic-table-search" placeholder="Date..." value="{{dateValue}}" />
          {{/if}}
          {{#if isTime}}
            <label>Time</label>
            <input type="number" class="input-dynamic-table-search" placeholder="Min" value="{{minuteValue}}" style="width: 49%;" />
            <input type="number" class="input-dynamic-table-search" placeholder="Sec" value="{{secondValue}}" style="width: 49%;" />
          {{/if}}
        </section>
      {{/if}}
      {{#if hasOptions}}
        {{#if hasSelectedOptions}}
          <section class="dynamic-table-filter-selected">
            <label>Selected</label>
            <div class="inner">
              {{#each option in selectedOptions}}
                <label><input class="input-dynamic-table-option-selected" type="checkbox" value="{{option.value}}" checked="checked" /> <span class="dynamic-table-option-value">{{option.label}}</span></label>
              {{/each}}
            </div>
          </section>
        {{/if}}
      {{/if}}
      {{#if hasOptions}}
        <section class="dynamic-table-filter-options">
          <label>Options{{#if searching}}...{{/if}}</label>
          <div class="inner">
            {{#each option in options}}
              <label><input class="input-dynamic-table-option" type="checkbox" value="{{option.value}}" {{checkedIfSelected option.value}} /> <span class="dynamic-table-option-value">{{option.label}}</span></label>
            {{/each}}
          </div>
        </section>
      {{/if}}
    {{/if}}
    {{#if hasFooter}}
      <div class="dynamic-table-filter-footer">
        {{#unless field.required}}
          <button class="btn btn-danger btn-dynamic-table-remove">Remove</button>
        {{/unless}}
        {{#if filter.enabled}}
          <button class="btn btn-default btn-dynamic-table-clear">Clear</button>
        {{/if}}
      </div>
    {{/if}}
  </div>
</template>
