div.dynamic-table-manage-fields {
  z-index: 2;
  width: 200px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  max-height: 200px;
  overflow-y: auto;
}
div.dynamic-table-manage-fields ul {
  margin-left: 0px;
}
.dynamic-table-manage-fields li {
  margin-bottom: 2px;
  cursor: pointer;
  list-style: none;
  padding: 10px;
  padding-left: 5px;
}
.dynamic-table-manage-fields i.fa-toggle-on {
  color: #0f0;
}
.dynamic-table-manage-fields input {
  width: 150px;
}
.dynamic-table-manage-fields .add-column {
  color: #0088cc;
  margin-left: 5px;
  cursor: pointer;
}
