div.dynamic-table-manage-fields>div {
  padding: 5px;
}
div.dynamic-table-manage-fields>ul {
  padding: 5px;
}
div.dynamic-table-manage-fields>section {
  padding: 5px;
}
div.dynamic-table-manage-fields>section.dynamic-table-manage-fields-edit {
  background-color: #666;
  color: #eee;
}
div.dynamic-table-manage-fields div.dynamic-table-manage-fields-edit-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
div.dynamic-table-manage-fields div.dynamic-table-manage-fields-edit-row input,select {
  float: right;
  max-width: 140px;
}
div.dynamic-table-manage-fields div.dynamic-table-manage-fields-edit-row input {
  width: auto;
}
div.dynamic-table-manage-fields div.dynamic-table-manage-fields-edit-row>label {
  width: 100%;
}
div.dynamic-table-manage-fields>header>.dynamic-table-manage-fields-edit-btn {
  float: right;
  cursor: pointer;
  font-size: 10px;
  color: #222;
}

div.dynamic-table-manage-fields div.dynamic-table-manage-fields-header {
}
div.dynamic-table-manage-fields hr {
  margin-top: 5px;
  margin-bottom: -5px;
}
div.dynamic-table-manage-fields {
  z-index: 2;
  width: 200px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  max-height: 250px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
div.dynamic-table-manage-fields ul {
  padding-left: 0px;
  overflow-y: auto;
  height: 100%;
  margin: 0px;
}
.dynamic-table-manage-fields li {
  margin-bottom: 2px;
  cursor: pointer;
  list-style: none;
  padding: 10px;
  padding-left: 5px;
}
.dynamic-table-manage-fields i.fa-toggle-on {
  color: #0f0;
}
.dynamic-table-manage-fields input {
  width: 150px;
}
.dynamic-table-manage-fields .add-column {
  color: #0088cc;
  margin-left: 5px;
  cursor: pointer;
}
