<template name="dynamicTableManageFieldsModal">
  <div class="dynamic-table-manage-fields">
    <div class="dynamic-table-manage-fields-header">
      {{#if search}}
        <input placeholder="Search..." />
        {{#if add}}
          <i class="fa fa-plus add-column"></i>
        {{/if}}
      {{else}}
        {{#if add}}
          <span class="add-column"><i class="fa fa-plus"></i> Add a Column</span>
          <hr />
        {{/if}}
      {{/if}}
    </div>
    <ul>
      {{#each column in availableColumns}}
        <li data-id="{{column.id}}" data-data="{{column.data}}">
          <i class="fa fa-toggle-{{#if selected column}}on{{else}}off{{/if}}"></i> {{title column}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>
