<template name="dynamicTableManageFieldsModal">
  <div class="dynamic-table-manage-fields">
    {{#if editing}}
      <div class="dynamic-table-manage-fields-header" style="padding: 7px;">
        {{#if editing.label}}
          Edit: <b>{{editing.label}}</b>
        {{else}}
          Add a Column
        {{/if}}
      </div>
      {{> manageColumnsForm groupNames=groupNames editableField=editableField manageFieldsEditContext=manageFieldsEditContext}}
      <div class="dynamic-table-manage-fields-footer">
        <button class="btn btn-default btn-dynamic-table-cancel">Cancel</button>
        <button class="btn btn-success btn-dynamic-table-save">Save</button>
      </div>
    {{else}}
      {{#if header}}
        <div class="dynamic-table-manage-fields-header">
          {{#if search}}
            <input class="search" placeholder="Search..." />
            {{#if edit}}
              <i class="fa fa-plus add-column"></i>
            {{/if}}
          {{else}}
            {{#if edit}}
              <span class="add-column"><i class="fa fa-plus"></i> Add a Column</span>
            {{/if}}
          {{/if}}
          <i class="fa fa-times clear-columns"></i>
        </div>
      {{/if}}
      <div class="dynamic-table-manage-fields-container">
        {{#each group in groups}}
          <div class="dynamic-table-manage-fields-group">
            <div class="dynamic-table-manage-fields-group-header">
              {{group.title}}
            </div>
            <ul class="display-table-manage-fields-group-hidden">
              {{#each column in group.columns}}
                <li data-id="{{column.id}}" data-data="{{column.data}}">
                  <i class="fa fa-toggle-{{#if selected column}}on{{else}}off{{/if}} {{#if required column}}required{{/if}}"></i> {{title column}}
                  {{#if editable column}}<i class="fa fa-pencil"></i>{{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
        {{/each}}
        <ul class="dynamic-table-manage-fields-ungrouped">
          {{#each column in ungroupedColumns}}
            <li data-id="{{column.id}}" data-data="{{column.data}}">
              <i class="fa fa-toggle-{{#if selected column}}on{{else}}off{{/if}} {{#if required column}}required{{/if}}"></i> {{title column}}
              {{#if editable column}}<i class="fa fa-pencil"></i>{{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
</template>
