div.dynamic-table-manage-aspects {
  width: 350px;
  background-color: #fff;
  border: 1px solid #999;
  box-shadow: 0px 0px 10px 0px #eee ;
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
}
div.dynamic-table-manage-aspects>div {
  clear: both;
  width: 100%;
}
div.dynamic-table-manage-aspects select {
  width: 50%;
  margin-bottom: 0px;
}
div.dynamic-table-manage-aspects button {
  /*to be managed 40px ≈ 12%*/
  width: 40px;
  margin-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
}
div.dynamic-table-manage-aspects label {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  margin-bottom: 0px;
}

div.dynamic-table-manage-aspects .add-group {
  margin-top: 10px;
  display: block;
  color: #0088cc;
  cursor: pointer;
}
