.dynamic-table-filters-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dynamic-table-filters-no-filters {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding-left: 10px;
  padding-top: 45px;
  padding-bottom: 46px;
  padding-right: 40px;
  margin: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.modal-large-height .modal-content {
  max-height: 2500px;
}

.dynamic-table-filters-add-filter-group {
  padding-right: 5px;
  padding-left: 5px;
  margin: 5px;
  background-color: #efefef;
  color: #49afcd;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.dynamic-table-filters-filter-group-container {
  padding: 5px;
  width: 100%;
}

.dynamic-table-filters-delimiter {
  margin: 0;
  margin-left: 6px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}