<template name="dynamicTableFiltersModal">
  <div class="modal fade in" id="dynamicTableFiltersModal" role="dialog" aria-labelledby="modal-dynamicTableFiltersModal" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-large-height">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title dynamic-table-filters-title">
            {{getFilterLabel}} Filters
          </h4>
        </div>
        <div class="modal-body">
          {{#unless hasFilterGroups}}
            <p class="dynamic-table-filters-no-filters">You do not have any filters set for this Smart View.</p>
          {{/unless}}
          {{#each filterGroup in getFilterGroups}}
            {{#if requiresDelimiter getFilterGroups filterGroup.id}}
              <p class="dynamic-table-filters-delimiter">OR</p>
            {{/if}}
            <div class="dynamic-table-filters-group-container">
              {{#each filter in getFiltersData filterGroup.id}}
              {{#if filter.label}}
                <button class="btn-link dynamic-table-filters-open-filters-modal" data-group="{{filterGroup.id}}" data-id="{{filter.id}}">
                  {{#if requiresDelimiter filterGroup.filters filter.id}}AND{{/if}}
                  {{filter.label}} Filters
                </button>
              {{else}}
                {{#if requiresDelimiter filterGroup.filters filter.id}}
                  <p class="dynamic-table-filters-delimiter">AND</p>
                {{/if}}
              {{/if}}
              <div class="dynamic-table-filters-selector-container">
                <select {{isFilterDisabled filter}} data-id="{{filter.id}}" data-group="{{filterGroup.id}}" class="dynamic-table-filters-column">
                  {{#each column in filter.columns}}
                    <option value="{{column.id}}" selected="{{#if op column.id '==' filter.column.id}}selected{{/if}}">{{column.title}}</option>
                  {{/each}}
                </select>
                <div class="dynamic-table-filters-filter-container">
                  <select {{isFilterDisabled filter}} data-group="{{filterGroup.id}}" data-id="{{filter.id}}" class="dynamic-table-filters-operator">
                    {{#each operatorOption in (getOperatorOptions filterGroup.id filter.id)}}
                      <option value="{{operatorOption.value}}" selected="{{#if operatorOption.isSelected}}selected{{/if}}">{{operatorOption.option}}</option>
                    {{/each}}
                  </select>
                  <div class="dynamic-table-filters-search-container">
                    {{#unless isComplexDataType filter}}
                      {{#if hasOptions filter}}
                        <section class="dynamic-table-filters-select2-section">
                          <select {{isFilterDisabled filter}} {{isControlDisabled filter}} data-group="{{filterGroup.id}}" data-id="{{filter.id}}" class="dynamic-table-filters-search dynamic-table-filters-select2" placeholder="Search..." multiple="multiple"></select>
                        </section>
                      {{else}}
                        <input {{isFilterDisabled filter}} {{isControlDisabled filter}} type="text" data-group="{{filterGroup.id}}" data-id="{{filter.id}}" class="dynamic-table-filters-search" placeholder="Search..." value="{{searchValue filter}}" />
                      {{/if}}
                    {{/unless}}
                    {{#if isDate filter}}
                      <input {{isFilterDisabled filter}} {{isControlDisabled filter}} type="date" data-group="{{filterGroup.id}}" data-id="{{filter.id}}" class="dynamic-table-filters-search" placeholder="Date..." value="{{dateValue filter}}" />
                    {{/if}}
                    {{#if isTime filter}}
                      <input {{isFilterDisabled filter}} {{isControlDisabled filter}} type="number" data-group="{{filterGroup.id}}" data-id="{{filter.id}}" class="dynamic-table-filters-search time minutes" placeholder="Min" value="{{minuteValue filter}}"/>
                      <span>:</span>
                      <input {{isFilterDisabled filter}} {{isControlDisabled filter}} type="number" data-group="{{filterGroup.id}}" data-id="{{filter.id}}" class="dynamic-table-filters-search time seconds" placeholder="Sec" value="{{secondValue filter}}"/>
                    {{/if}}
                    {{#if isBoolean filter}}
                      <select {{isFilterDisabled filter}} {{isControlDisabled filter}} class="dynamic-table-filters-search">
                        <option value="">Choose True/False</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                      </select>
                    {{/if}}
                    </div>
                </div>
                  <button class="dynamic-table-filters-remove-filter" style="{{#if filter.disabled}}visibility: hidden;{{/if}}" data-group="{{filterGroup.id}}" data-id="{{filter.id}}">                      
                    <i class="fa fa-times"></i>
                  </button>
              </div>
            {{/each}}
            {{#if canAddFilters filterGroup.id}}
              <button class="btn-link dynamic-table-filters-add-filter" data-group="{{filterGroup.id}}">              
                  <i class="fa fa-plus"></i> AND
              </button>
            {{/if}}
            </div>
          {{/each}}
          {{#if canAddFilterGroups}}
            <button class="dynamic-table-filters-add-filter-group">              
                <i class="fa fa-plus"></i> {{#if hasFilterGroups}}OR{{else}}Filter{{/if}}
            </button>
          {{/if}}
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger dynamic-table-filters-clear">Clear</button>
          <button class="btn btn-inverse dynamic-table-filters-apply">Apply</button>
          <button class="btn btn-default dynamic-table-filters-cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
