<template name="dynamicTableFiltersModal">
  <div class="modal fade in" id="dynamicTableFiltersModal" role="dialog" aria-labelledby="modal-dynamicTableFiltersModal" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-large-height">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title dynamic-table-filters-title">
            Filters
          </h4>
        </div>
        <div class="modal-body">
          {{#unless hasFilterGroups}}
            <p class="dynamic-table-filters-no-filters">You do not have any filters set for this Smart View.</p>
          {{/unless}}
          {{#each filterGroup in getFilterGroups}}
            <div class="dynamic-table-filters-filter-group-container">
              {{> dynamicTableFilterGroup filterGroup=filterGroup columns=getColumns collection=getCollection
                removeFilterGroupCallback=removeFilterGroupCallback
              }}
            </div>
            {{#if requiresDelimiter filterGroup}}
              <p class="dynamic-table-filters-delimiter">OR</p>
            {{/if}}
          {{/each}}
          <button class="dynamic-table-filters-add-filter-group">              
              <i class="fa fa-plus"></i> {{#if hasFilterGroups}}OR{{else}}Filter{{/if}}
          </button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger dynamic-table-filters-clear">Clear</button>
          <button class="btn btn-inverse dynamic-table-filters-apply">Apply</button>
          <button class="btn btn-default dynamic-table-filters-cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
