.dynamic-table-filter-group {
  background-color: #fff;
  z-index: 9999;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 100%;
}

.dynamic-table-filter-group-add-filter {
  padding: 5px;
  outline: 0;
}

.dynamic-table-filter-group-selector-container {
  padding: 5px;
  display: inline-flex;
  background-color: #fff;
  z-index: 9999;
  width: 100%;
}

.dynamic-table-filter-group-column {
  margin: auto;
  margin-right: 20px;
  width: 20%;
}

.dynamic-table-filter-group-delimiter {
  margin: 0;
  margin-left: 6px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dynamic-table-filter-selector {
  display: inline-flex;
  background-color: #fff;
  z-index: 9999;
  width: 100%;
}

.input-dynamic-table-column {
  margin: auto;
  margin-right: 20px;
  width: 20%;
}

.dynamic-table-filter-group-remove-filter {
  padding-left: 20px;
  padding-right: 20px; 
  border: none;
  outline: 0;
  width: 2%;
  background: none;
}