<template name="dynamicTableFilterGroup">
  <div class="dynamic-table-filter-group">
    {{#each filter in getFilters}}
      <div class="dynamic-table-filter-group-selector-container">
        <select  data-id="{{filter.id}}" class="dynamic-table-filter-group-column">
          {{#each column in filter.columns}}
            <option value="{{column.id}}" selected="{{#if isSelected column filter}}selected{{/if}}">{{column.title}}</option>
          {{/each}}
        </select>
        {{> dynamicTableInlineFilterForm filter=(getFilter filter) field=(getField filter) callback=(callback filter.id)}}
        <button class="dynamic-table-filter-group-remove-filter" data-id="{{filter.id}}">                      
          <i class="fa fa-times"></i>
        </button>
      </div>
      {{#if requiresDelimiter filter}}
        <p class="dynamic-table-filter-group-delimiter">AND</p>
      {{/if}}
    {{/each}}
    {{#if canAddFilters}}
      <button class="btn-link dynamic-table-filter-group-add-filter">              
          <i class="fa fa-plus"></i> AND
      </button>
    {{/if}}
  </div>
</template>
