<template name="dynamicTableInlineFilterForm">
  <div class="dynamic-table-filter">
    <select class="dynamic-table-filter-action">
      {{#each action in getActions}}
        <option value="{{action}}">{{action}}</option>
      {{/each}}
    </select>
    <section class="dynamic-table-filter-search">
      {{#if isStringOrCustom}}
        {{#if hasOptions}}
          <select class="input-dynamic-table-search select2" placeholder="Search..." multiple="multiple">
            {{#each option in getOptions}}
              <option value="{{option.value}}" {{checkedIfSelected option.value}}>{{option.label}}</option>
            {{/each}}
          </select>
        {{else}}
          <input type="text" class="input-dynamic-table-search" placeholder="Search..." value="{{filter.search.value}}" />
        {{/if}}
      {{/if}}
      {{#if isNumber}}
        <input type="number" class="input-dynamic-table-search" placeholder="Value" value="{{numberValue}}" />
      {{/if}}
      {{#if isDate}}
        <input type="date" class="input-dynamic-table-search" placeholder="Date..." value="{{dateValue}}" />
      {{/if}}
      {{#if isTime}}
        <label>Time</label>
        <input type="number" class="input-dynamic-table-search" placeholder="Min" value="{{minuteValue}}" style="width: 49%;" />
        <input type="number" class="input-dynamic-table-search" placeholder="Sec" value="{{secondValue}}" style="width: 49%;" />
      {{/if}}
      {{#if isBoolean}}
        <select class="input-dynamic-table-search">
          <option value="">Choose True/False</option>
          <option value="true" {{isSelected true}}>True</option>
          <option value="false" {{isSelected false}}>False</option>
        </select>
      {{/if}}
    </section>
    <button class="btn-remove">                      
        <i class="fa fa-times"></i>
    </button>
  </div>
</template>
