<template name="dynamicTableInlineFilterForm">
  <div class="dynamic-table-filter-inline">
    <select class="input-dynamic-table-action">
      {{#each action in getActions}}
        <option value="{{action.value}}" selected="{{#if action.isSelected}}selected{{/if}}">{{action.option}}</option>
      {{/each}}
    </select>
    <section class="dynamic-table-filter-search">
      {{#if isStringOrCustom}}
        {{#if hasOptions}}
          <section class="dynamic-table-select2-section">
            <select {{isControlDisabled}} class="input-dynamic-table-search dynamic-table-select2" placeholder="Search..." multiple="multiple"></select>
          </section>
        {{else}}
          <input type="text" class="input-dynamic-table-search" placeholder="Search..." value="{{filter.search.value}}" />
        {{/if}}
      {{/if}}
      {{#if isNumber}}
        <input type="number" class="input-dynamic-table-search" placeholder="Value" value="{{numberValue}}" />
      {{/if}}
      {{#if isDate}}
        <input type="date" class="input-dynamic-table-search" placeholder="Date..." value="{{dateValue}}" />
      {{/if}}
      {{#if isTime}}
        <input type="number" class="input-dynamic-table-search time minutes" placeholder="Min" value="{{minuteValue}}"/>
        <span>:</span>
        <input type="number" class="input-dynamic-table-search time seconds" placeholder="Sec" value="{{secondValue}}"/>
      {{/if}}
      {{#if isBoolean}}
        <select class="input-dynamic-table-search">
          <option value="">Choose True/False</option>
          <option value="true" {{isSelected true}}>True</option>
          <option value="false" {{isSelected false}}>False</option>
        </select>
      {{/if}}
    </section>
    <button class="btn-remove">                      
        <i class="fa fa-times"></i>
    </button>
  </div>
</template>