div.dynamic-table-filter-inline {
  width: 850px;
  background-color: #fff;
  display: inline-flex;
}

.dynamic-table-filter-action {
  margin: auto;
  margin-right: 20px;
  width: 28%;
}

.dynamic-table-filter-search {
  margin: auto;
  width: 100%;
}

section.dynamic-table-filter-search>.input-dynamic-table-search {
  margin-bottom: 0px;
  height: 31px;
  width: 100%
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: #00BAE3;
  border-radius: 3px;
  cursor: pointer;
  padding-right: 1px;
  padding-left: 5px;
  border: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #cccccc;
  height: 7px;
}

.select2-container--default .select2-search--inline .select2-search__field {
  width: 100%!important;
}

.select2-container {
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: black;
  float: right;
  font-size: 25px;
  padding-left: 2px;
}

.btn-remove {
  padding-left: 20px;
  padding-right: 20px; 
  border: none;
  outline: 0;
  width: 2%;
  background: none;
}